.navbar {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: teal;
  color: ghostwhite;
  font-size: larger;
  position: sticky;
  top: 10px;
  height: 50px;
  border-width: 2px 0px;
  border-color: black;
  border-style: solid;
}

.ahrefIcon {
  display: flex;
  align-items: center;
  padding-right: 1%;
  color: ghostwhite;
  cursor: pointer;
}

.ahrefHN {
  color: ghostwhite !important;
}

.navbar-list {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

.search-input {
  font-size: large;
  margin-left: 2%;
}

.icon {
  height: 16px;
  padding-right: 1%;
}

.navP {
  color: rgb(203, 199, 199);
}
