.navbar {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: teal;
  color: ghostwhite;
  font-size: x-small;
  position: sticky;
  top: 10px;
  height: 25px;
  border-width: 1px 0px;
  border-color: black;
  border-style: solid;
}

.ahrefIcon {
  display: flex;
  align-items: center;
  padding-right: 1%;
  color: ghostwhite;
}

.ahrefHN {
  color: ghostwhite;
}

.navbar-list {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

.search {
  margin-left: 2%;
}

.search-input {
  font-size: x-small;
}

.icon {
  height: 16px;
  padding-right: 1%;
}
