.News {
  margin-left: 50px;
}
ul {
  list-style-type: none;
}
li {
  margin: 0 10px 10px;
}
.sub-ul {
  font-size: 10px;
}
a:link {
  text-decoration: none;
  color: black;
}
span {
  color: rgb(50, 51, 50);
  font-weight: bold;
  margin: 0 5px;
}
