.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.News-ol a,
.left {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: lightgrey;
  display: inline-block;
  height: 25px;
  width: 25px;
  text-align: center;
}

.News-ol {
  padding: 2px;
}
