@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap");

.App {
  background-color: rgb(203, 199, 199);
  color: ghostwhite;
}

* {
  font-family: Ubuntu, Lato, serif;
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: black;
    color: ghostwhite;
  }
}
